.search{
  width: 70%;
  margin: 0 auto;
  @include clearfix
  .search__input{
  	float:left;
  	margin-right: 5px;
  	width: 75%;
  	height: 2rem;
  }
  .search__button{
  	float:left;
  	width: 15%;
  	height: 2rem;
  }
  .search__button.btn{
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: middle;
  } 
}